<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.upto.park.dao.mapper.push.BillPushMapper" >
    <resultMap id="BaseResultMap" type="com.upto.park.dao.model.push.BillPush" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="buss_cd" property="bussCd" jdbcType="VARCHAR" />
        <result column="bill_no" property="billNo" jdbcType="VARCHAR" />
        <result column="usr_num" property="usrNum" jdbcType="VARCHAR" />
        <result column="park_no" property="parkNo" jdbcType="VARCHAR" />
        <result column="park_name" property="parkName" jdbcType="VARCHAR" />
        <result column="bill_at" property="billAt" jdbcType="INTEGER" />
        <result column="pay_at" property="payAt" jdbcType="INTEGER" />
        <result column="start_time" property="startTime" jdbcType="VARCHAR" />
        <result column="pay_time" property="payTime" jdbcType="VARCHAR" />
        <result column="reserve" property="reserve" jdbcType="VARCHAR" />
        <result column="sign" property="sign" jdbcType="VARCHAR" />
        <result column="is_delete" property="isDelete" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, buss_cd, bill_no, usr_num, park_no, park_name, bill_at, pay_at, start_time, pay_time, reserve, sign, is_delete, create_time, modified_time
    </sql>

    <insert id="insertBillPush" parameterType="com.upto.park.dao.model.push.BillPush">
        INSERT INTO
        park_bill_push
        (buss_cd, bill_no, usr_num, park_no, park_name, bill_at, pay_at, start_time, pay_time, reserve, sign)
        VALUES
        (#{bussCd, jdbcType=VARCHAR}, #{billNo, jdbcType=VARCHAR}, #{usrNum, jdbcType=VARCHAR}, #{parkNo, jdbcType=VARCHAR},
        #{parkName, jdbcType=VARCHAR}, #{billAt, jdbcType=INTEGER}, #{payAt, jdbcType=INTEGER}, #{startTime, jdbcType=VARCHAR},
        #{payTime, jdbcType=VARCHAR}, #{reserve, jdbcType=VARCHAR}, #{sign, jdbcType=VARCHAR})
    </insert>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
  </delete>
</mapper>
